.root{
    -fx-background-color: transparent;
}

.page {
    -fx-background-color: #2e2e2e ;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 0.0, 0.0);
}

.label{
    -fx-font-family: Montserrat;
    -fx-font-size: 13px;
    -fx-text-fill: #f2f2f2;
}

.text-field{
    -fx-background-color: #3e6c73 , #3e6c73 , #363636;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
    -fx-background-radius: 2;
    -fx-font-family: Montserrat;
    -fx-font-size: 13px;
    -fx-text-fill: #f2f2f2;
}

.text-field:focused {
    -fx-background-color: #4e8991 , #4e8991 , #4a4848;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

#wrong-password{
    -fx-background-color: #803d3d , #803d3d , #4a4848;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

#wrong-password:focused{
    -fx-background-color: #9e4444 , #9e4444 , #4a4848;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

#correct-password{
    -fx-background-color:#3e6c73 , #3e6c73 , #363636;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

#correct-password:focused{
    -fx-background-color: #4e8991 , #4e8991 , #4a4848;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.button-default{
    -fx-pref-height: 28px;
    -fx-pref-width: 200px;
    -fx-background-color: #3e6c73 , #3e6c73 , #363636;
    -fx-background-radius: 2;
    -fx-font-family: Montserrat;
    -fx-font-size: 14px;
    -fx-text-fill: #f2f2f2;
}

.check-box:selected > .box {
    -fx-background-color: #4e8991;
}

.check-box > .box {
    -fx-background-color: #3e6c73;
}

.check-box:selected .mark {
    -fx-background-color: #f2f2f2;
    -fx-shape: "M 25, 50 a 25,25 0 1,1 50,0  25,25 0 1,1 -50,0"; /*SVG*/
}

.title{
    -fx-font-size: 27px;
}

.account-title{
    -fx-font-size: 25px;
}

.account-text{
    -fx-font-size: 22px;
}

.account-url: hover{
    -fx-underline: true;
}

.first-login{
    -fx-font-size: 10px;
    -fx-cursor: hand;
}
.first-login:hover{
    -fx-underline: true;
}

.showHand{
    -fx-cursor: hand;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane{
    -fx-background-color: transparent;
}

.scroll-pane > .scroll-bar{
    -fx-background-color: transparent;
}

.scroll-pane > .scroll-bar:vertical .thumb {
    -fx-background-color: #5b5b5b;
    -fx-background-radius: 20px;
}

.account-row {
    -fx-background-color: #2e2e2e;
    -fx-background-radius: 2;
}

.account-row:hover {
    -fx-background-color: #5b5b5b;
}

.letter {
    -fx-font-family: Montserrat;
    -fx-font-size: 35px;
    -fx-label-padding: 0 0 0 22;
    -fx-text-fill: #f2f2f2;
    -fx-underline: true;
}
